Repository smjt-h/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-platform, @harness/ui-sto, @harness/ui-pipeline, @harness/ui-cv, @harness/ui-ci, @harness/ui-triggers, @harness/ui-ce

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @vkbansal @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness @vkbansal
src/microfrontends/ @abhinavrastogi-harness @vkbansal @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/15-notifications @harness/ui-platform
src/modules/18-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/27-sto @harness/ui-sto
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/35-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-platform
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/72-templates-library @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto-steps @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-ci
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce

docs: [FFM-1907] README Updates for M1 Macs
  README.md
  docs/M1_macbooks.md
Owners: none

fix: selected dependent rule to be filtered from list of selection
  src/modules/75-ce/components/COGatewayConfig/CORuleDependencySelector.tsx
Owners: @harness/ui-ce

Memo for requests
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStackRef.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/InlineParameterFile.tsx
Owners: @harness/ui-pipeline

update create stack
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStack.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStackRef.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/InlineParameterFile.tsx
Owners: @harness/ui-pipeline

feat: adding connector ref renderer
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: removing dependency
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: removing dependency
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: removing dependency from input set view and added missing types
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: cleanup imports
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: cleanup
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/__test__/__snapshots__/ECRStep.test.tsx.snap
Owners: @harness/ui-ci

feat: removing dep on getString
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/__test__/__snapshots__/ECRStep.test.tsx.snap
Owners: @harness/ui-ci

feat: [STO-4464] STO Nav
  src/framework/LicenseStore/LicenseStoreContext.tsx
  src/modules/10-common/components/NGBreadcrumbs/NGBreadcrumbs.tsx
  src/modules/10-common/hooks/useModuleInfo.ts
  src/modules/10-common/layouts/TrialLicenseBanner.tsx
  src/modules/10-common/navigation/ProjectSetupMenu/ProjectSetupMenu.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/10-common/utils/utils.ts
  src/modules/85-sto-steps/components/STOSideNav/STOSideNav.tsx
  src/modules/85-sto-steps/strings/strings.en.yaml
  src/stringTypes.ts
  src/strings/strings.en.yaml
Owners: @harness/ui-plg, @harness/ui-council, @harness/ui-platform, @harness/ui-sto

feat: [CDS-35062]: ssh infra
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/75-cd/components/PipelineSteps/PDCInfrastructureSpec/PDCInfrastructureSpec.tsx
  src/modules/75-cd/components/PipelineSteps/PDCInfrastructureSpec/PreviewHostsTable/PreviewHostsTable.tsx
  src/modules/75-cd/components/PipelineSteps/PipelineStepsUtil.ts
  src/modules/75-cd/components/PipelineStudio/DeployInfraSpecifications/DeployInfraSpecifications.tsx
  src/modules/75-cd/strings/strings.en.yaml
  src/services/cd-ng/index.tsx
  src/stringTypes.ts
Owners: @harness/ui-pipeline, @harness/ui-council

Update devServerProxy.config.js
  configs/devServerProxy.config.js
Owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal

fix: [SRM-10232]: Initial UI for services page
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRadarChart.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRadarChart.types.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRadarChart.utils.ts
  src/modules/85-cv/components/LogsAnalysis/LogAnalysis.module.scss
  src/modules/85-cv/components/LogsAnalysis/LogAnalysis.tsx
  src/modules/85-cv/components/LogsAnalysis/LogAnalysis.types.ts
  src/modules/85-cv/components/LogsAnalysis/components/RadarChart/RadarChartComponent.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/MetricsAndLogs/MetricsAndLogs.tsx
Owners: @harness/ui-cv

fix: [SRM-10232]: Add tab layout for metrics and logs
  src/modules/85-cv/components/ExecutionVerification/components/HealthSourcesMultiSelectDropdown/HealthSourceMultiSelectDropDown.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRadarChart.utils.ts
  src/modules/85-cv/components/LogsAnalysis/LogAnalysis.tsx
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/LogAnalysisRow.tsx
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/LogAnalysisRow.types.ts
  src/modules/85-cv/components/LogsAnalysis/components/LogFilters/LogFilters.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/ServiceHealth.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/MetricsAndLogs/MetricsAndLogs.module.scss
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/MetricsAndLogs/MetricsAndLogs.module.scss.d.ts
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/MetricsAndLogs/MetricsAndLogs.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/MetricsAndLogs/MetricsAndLogs.types.ts
Owners: @harness/ui-cv

fix: [SRM-10232]: Add data layer for service screen logs UI
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.module.scss
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.module.scss.d.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.types.ts
  src/modules/85-cv/components/LogsAnalysis/LogAnalysis.tsx
  src/modules/85-cv/components/LogsAnalysis/LogAnalysis.utils.ts
  src/modules/85-cv/components/LogsAnalysis/components/LogFilters/LogFilters.tsx
  src/modules/85-cv/components/LogsAnalysis/components/LogFilters/LogFilters.types.ts
Owners: @harness/ui-cv

feat: [GTM-1010]: add CCM page events
  src/modules/10-common/pages/pageContext/PageName.ts
  src/modules/75-ce/RouteDestinations.tsx
Owners: @harness/ui-ce

feat: [GTM-1010]: add CCM track events
  src/modules/10-common/constants/TrackingConstants.ts
  src/modules/75-ce/modals/CETrialModal/useCETrialModal.tsx
Owners: @harness/ui-ce

fix: Community
  src/modules/10-common/utils/utils.ts
  src/modules/20-rbac/modals/ResourceScope/views/ResourceScopeForm.module.scss
  src/modules/20-rbac/pages/ResourceGroupDetails/utils.tsx
Owners: @harness/ui-platform
