Repository smjt-h/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-platform, @harness/ui-sto, @harness/ui-pipeline, @harness/ui-cv, @harness/ui-ci, @harness/ui-triggers, @harness/ui-ce

feat: [CDS-37109]: update version in package.json
  package.json
Owners: @harness/ui-council

feat: [PL-24652]: sacing pipeline to commit (#8713)
  src/modules/10-common/components/GitSyncForm/GitSyncForm.tsx
  src/modules/10-common/components/RepositorySelect/RepositorySelect.tsx
  src/modules/10-common/components/SaveToGitFormV2/SaveToGitFormV2.module.scss
  src/modules/10-common/components/SaveToGitFormV2/SaveToGitFormV2.module.scss.d.ts
  src/modules/10-common/components/SaveToGitFormV2/SaveToGitFormV2.tsx
  src/modules/10-common/components/SaveToGitFormV2/__tests__/SaveToGitForm.test.tsx
  src/modules/10-common/components/SaveToGitFormV2/__tests__/__snapshots__/SaveToGitForm.test.tsx.snap
  src/modules/10-common/modals/SaveToGitDialog/useSaveToGitDialog.tsx
  src/modules/70-pipeline/components/PipelineStudio/CreateModal/PipelineCreate.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvas.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineActions.ts
  src/modules/70-pipeline/components/PipelineStudio/SavePipelinePopover/SavePipelinePopover.tsx
Owners: @harness/ui-pipeline

feat: [SRM-10106]: completing the notifications for SLO
  src/modules/85-cv/components/Notifications/NotificationsContainer.constants.ts
  src/modules/85-cv/components/Notifications/NotificationsContainer.tsx
  src/modules/85-cv/components/Notifications/NotificationsContainer.types.ts
  src/modules/85-cv/components/Notifications/NotificationsContainer.utils.ts
  src/modules/85-cv/components/Notifications/components/ConfigureMonitoredServiceAlertConditions/ConfigureMonitoredServiceAlertConditions.constants.ts
  src/modules/85-cv/components/Notifications/components/ConfigureMonitoredServiceAlertConditions/ConfigureMonitoredServiceAlertConditions.module.scss
  src/modules/85-cv/components/Notifications/components/ConfigureMonitoredServiceAlertConditions/ConfigureMonitoredServiceAlertConditions.module.scss.d.ts
  src/modules/85-cv/components/Notifications/components/ConfigureMonitoredServiceAlertConditions/ConfigureMonitoredServiceAlertConditions.tsx
  src/modules/85-cv/components/Notifications/components/ConfigureSLOAlertConditions/ConfigureSLOAlertConditions.module.scss
  src/modules/85-cv/components/Notifications/components/ConfigureSLOAlertConditions/ConfigureSLOAlertConditions.module.scss.d.ts
  src/modules/85-cv/components/Notifications/components/ConfigureSLOAlertConditions/ConfigureSLOAlertConditions.tsx
  src/modules/85-cv/components/Notifications/components/NotificationRuleRow/NotificationRule.module.scss.d.ts
  src/modules/85-cv/components/Notifications/components/NotificationRuleRow/NotificationRuleRow.module.scss
  src/modules/85-cv/components/Notifications/components/NotificationRuleRow/NotificationRuleRow.module.scss.d.ts
  src/modules/85-cv/components/Notifications/components/NotificationRuleRow/NotificationRuleRow.tsx
  src/modules/85-cv/components/Notifications/components/NotificationRuleRow/NotificationRuleRow.types.ts
  src/modules/85-cv/components/Notifications/components/NotificationRuleRow/NotificationRuleRow.utils.ts
  src/modules/85-cv/components/Notifications/components/SLONotificationRuleRow/SLONotificationRuleRow.constants.ts
  src/modules/85-cv/components/Notifications/components/SLONotificationRuleRow/SLONotificationRuleRow.module.scss
  src/modules/85-cv/components/Notifications/components/SLONotificationRuleRow/SLONotificationRuleRow.module.scss.d.ts
  src/modules/85-cv/components/Notifications/components/SLONotificationRuleRow/SLONotificationRuleRow.tsx
  src/modules/85-cv/components/Notifications/components/SLONotificationRuleRow/SLONotificationRuleRow.types.ts
  src/modules/85-cv/components/Notifications/components/SLONotificationRuleRow/SLONotificationRuleRow.utils.ts
  src/modules/85-cv/components/Notifications/components/SRMNotificationTable/SRMNotificationTable.tsx
  src/modules/85-cv/components/Notifications/components/SRMNotificationTable/SRMNotificationTable.types.ts
  src/modules/85-cv/components/Notifications/components/useSRMNotificationModal/useSRMNotificationModal.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/Service.tsx
  src/modules/85-cv/pages/slos/CVSLODetailsPage/CVSLODetailsPage.tsx
Owners: @harness/ui-cv

fix: fetching values yaml
  package.json
  src/modules/70-pipeline/components/ManifestSelection/DragnDropPaths.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestInterface.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/AttachPathYamlFlow.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/ManifestListView.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestSelection.module.scss
  src/modules/70-pipeline/components/ManifestSelection/ManifestSelection.module.scss.d.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestSelection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizard/ManifestWizard.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmWithGIT/HelmWithGIT.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmWithGcs/HelmWithGcs.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmWithHttp/HelmWithHttp.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmWithS3/HelmWithS3.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/InheritFromManifest/InheritFromManifest.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/K8sValuesManifest/K8sValuesManifest.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/KustomizeWithGIT/KustomizeWithGIT.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/ManifestStore.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/OSTemplateWithGit/OSTemplateWithGit.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/OpenShiftParam/OSWithGit.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/ServerlessAwsLambdaManifest/ServerlessAwsLambdaManifest.tsx
  src/modules/70-pipeline/components/ManifestSelection/Manifesthelper.ts
  src/modules/70-pipeline/components/ManifestSelection/__tests__/ManifestSelection.test.tsx
  src/modules/70-pipeline/components/ManifestSelection/__tests__/ManifestWizard.test.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/75-cd/components/PipelineSteps/AzureInfrastructureStep/AzureInfrastructureStep.tsx
  src/modules/75-cd/components/PipelineSteps/AzureInfrastructureStep/__tests__/AzureInfrastructureStep.test.tsx
  src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications/SelectDeploymentType.tsx
  src/services/cd-ng/index.tsx
  src/stringTypes.ts
  yarn.lock
Owners: @harness/ui-council, @harness/ui-pipeline

feat: [PL-25014]: Added edit and delete
  src/modules/31-variables/RouteDestinations.tsx
Owners: none

fix: Pass in object rather than string for variable list
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/VaribaleView/CreateStackVariableView.tsx
  yarn.lock
Owners: @harness/ui-pipeline, @harness/ui-council

fix: Pass in object rather than string for variable list
  configs/webpack.dev.js
Owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal

fix: [PIE-3660]: fix opa evaluation modal error and warn (#8716)
  package.json
  src/modules/70-pipeline/components/PipelineStudio/SavePipelinePopover/SavePipelinePopover.tsx
Owners: @harness/ui-council, @harness/ui-pipeline

start fixing sonar issues
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStack.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStackRef.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/TemplateFile.tsx
Owners: @harness/ui-pipeline

feat: [CI-3648]: connectorRef multitypes
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
Owners: @harness/ui-pipeline

feat: [CI-3648]: connector and repoName support runtime inputs
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
Owners: @harness/ui-pipeline

feat: [CI-3648]: update tests
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/PipelineInputSetForm.test.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
Owners: @harness/ui-pipeline

feat: [CI-3648]: connectorRef and repoName for editStage and rightbar
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/utils/constants.ts
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: [CI-3648]: ci codebase connectorRef and repoName support runtime inputs
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.ts
Owners: @harness/ui-pipeline

feat: [CI-3648]: ConnectorRefInterface and snapshot update
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/__tests__/__snapshots__/EditStageView.test.tsx.snap
Owners: @harness/ui-pipeline, @harness/ui-triggers, @harness/ui-ci

feat: [CI-3648]: runtime inputs, expressions, validations
  src/modules/10-common/components/MultiTypeSelect/MultiTypeSelect.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/70-pipeline/utils/constants.ts
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.tsx
  src/stringTypes.ts
Owners: @harness/ui-pipeline, @harness/ui-triggers

feat: [CI-3648]: update connector width
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
  src/modules/70-pipeline/utils/constants.ts
Owners: @harness/ui-pipeline

feat: [CI-3648]: remove expression support for some fields
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
Owners: @harness/ui-pipeline

feat: [CI-3648]: getPrCloneStrategyOptions
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/70-pipeline/utils/constants.ts
  src/stringTypes.ts
Owners: @harness/ui-pipeline

feat: [CI-3648]: sslVerifyOptino and getOptionalLabel
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/utils/constants.ts
Owners: @harness/ui-pipeline

feat: [CI-3648]: tests, Deepsource, clean up
  src/modules/10-common/components/MultiTypeSelect/MultiTypeSelect.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/PipelineInputSetForm.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.ts
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/utils/CIUtils.ts
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
Owners: @harness/ui-pipeline, @harness/ui-triggers

feat: [CI-3648]: setRefValue on new connector creation
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
Owners: @harness/ui-platform

feat: [CI-3648]: update snapshot
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/PipelineInputSetForm.test.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
Owners: @harness/ui-pipeline

feat: [CI-3648]: sonar duplicated lines reduce
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
Owners: @harness/ui-pipeline

feat: [CI-3648]: awscodecommit reponame changes
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: [CI-3648]: move isRuntimeInput
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/utils/CIUtils.ts
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: [CI-3648]: make optional runtime fields mandatory StepUtils
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
Owners: @harness/ui-pipeline

feat: [CI-3648]: fixed bugs
  src/modules/10-common/components/MultiTypeText/MultiTypeText.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/70-pipeline/utils/constants.ts
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.tsx
  src/stringTypes.ts
Owners: @harness/ui-pipeline, @harness/ui-triggers

feat: [CI-3648]: strings and unit tests
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar2.test.tsx.snap
  src/stringTypes.ts
Owners: @harness/ui-pipeline

feat: [CI-3648]: refactor for sonar
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.ts
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/utils/CIUtils.ts
  src/modules/70-pipeline/utils/constants.ts
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: [CI-3648]: bugs and add unit tests
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/PipelineInputSetForm.test.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/StageInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
  src/stringTypes.ts
Owners: @harness/ui-pipeline, @harness/ui-triggers

feat: [CI-3648]: unit tests and remove console.log
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar.test.tsx.snap
Owners: @harness/ui-pipeline

feat: [CI-3648]: sonar duplication issue
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
Owners: @harness/ui-pipeline

feat: [CI-3648]: update snapshot
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
Owners: @harness/ui-pipeline

feat: [CI-3648]: update snapshots
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar2.test.tsx.snap
Owners: @harness/ui-pipeline

feat: [CI-3648]: support runtime inputs in CI Codebase
  src/modules/10-common/components/MultiTypeSelect/MultiTypeSelect.tsx
  src/modules/10-common/components/MultiTypeText/MultiTypeText.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/PipelineInputSetForm.test.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/StageInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar2.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/70-pipeline/utils/CIUtils.ts
  src/modules/70-pipeline/utils/constants.ts
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/__tests__/__snapshots__/EditStageView.test.tsx.snap
  src/stringTypes.ts
Owners: @harness/ui-platform, @harness/ui-pipeline, @harness/ui-triggers, @harness/ui-ci

feat: [CI-3648]: support runtime inputs in CI Codebase QA
  src/modules/10-common/components/MultiTypeSelect/MultiTypeSelect.tsx
  src/modules/10-common/components/MultiTypeText/MultiTypeText.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/PipelineInputSetForm.test.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/StageInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/__snapshots__/RightBar2.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/70-pipeline/utils/CIUtils.ts
  src/modules/70-pipeline/utils/constants.ts
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/__tests__/__snapshots__/EditStageView.test.tsx.snap
  src/stringTypes.ts
Owners: @harness/ui-platform, @harness/ui-pipeline, @harness/ui-triggers, @harness/ui-ci

feat: [CI-3648]: pipeline template fixes and package.json
  package.json
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/PipelineInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineInputSetForm/__tests__/__snapshots__/StageInputSetForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineSpecifications/TemplatePipelineSpecifications.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/utils/constants.ts
  src/modules/72-templates-library/components/TemplateInputs/TemplateInputs.tsx
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.tsx
Owners: @harness/ui-council, @harness/ui-pipeline, @harness/ui-triggers

chore: update services for ng,template,pipeline for security update
  src/modules/10-common/pages/entityUsage/views/EntityUsageListView/EntityUsageList.tsx
  src/modules/30-secrets/pages/secretReferences/views/SecretReferencesListView/SecretReferencesList.tsx
  src/modules/35-user-profile/modals/SourceCodeManager/views/SourceCodeManagerForm.tsx
  src/modules/35-user-profile/utils/utils.ts
  src/modules/70-pipeline/components/ExecutionCard/MiniExecutionGraph/ParallelStageNode.tsx
  src/modules/70-pipeline/components/ExecutionStatusLabel/ExecutionStatusLabel.tsx
  src/modules/70-pipeline/components/InputSetForm/__tests__/InputSetMocks.ts
  src/modules/70-pipeline/components/RetryPipeline/__tests__/mocks.ts
  src/modules/70-pipeline/components/StatusSelect/StatusSelect.tsx
  src/modules/70-pipeline/utils/executionUtils.ts
  src/modules/70-pipeline/utils/statusHelpers.ts
  src/modules/72-triggers/pages/trigger-details/TriggerDetailsMock.ts
  src/modules/72-triggers/pages/triggers/__tests__/TriggerDetailPageMock.ts
  src/modules/72-triggers/pages/triggers/__tests__/sharedMockResponses.ts
  src/modules/72-triggers/pages/triggers/__tests__/webhookMockResponses.ts
  src/modules/75-cd/mock.ts
  src/modules/75-cf/pages/environment-details/__tests__/EnvironmentDetailsBody.test.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/__tests__/ContinousVerificationMocks.ts
  src/services/cd-ng/index.tsx
  src/services/pipeline-ng/index.tsx
  src/services/template-ng/index.tsx
Owners: @harness/ui-platform, @harness/ui-pipeline, @harness/ui-triggers, @harness/ui-cv, @harness/ui-council

chore: update package json
  package.json
Owners: @harness/ui-council

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @vkbansal @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness @vkbansal
src/microfrontends/ @abhinavrastogi-harness @vkbansal @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/15-notifications @harness/ui-platform
src/modules/18-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/27-sto @harness/ui-sto
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/35-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-platform
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/72-templates-library @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto-steps @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-ci
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce
