Repository smjt-h/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-platform, @harness/ui-sto, @harness/ui-pipeline, @harness/ui-cv, @harness/ui-ci, @harness/ui-triggers, @harness/ui-ce

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @vkbansal @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness @vkbansal
src/microfrontends/ @abhinavrastogi-harness @vkbansal @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/15-notifications @harness/ui-platform
src/modules/18-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/27-sto @harness/ui-sto
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/35-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-platform
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/72-templates-library @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto-steps @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-ci
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce

feat: [PL-25014]: Added RBAC for Variables
  src/modules/20-rbac/interfaces/PermissionIdentifier.ts
  src/modules/20-rbac/interfaces/ResourceType.ts
  src/modules/31-variables/RouteDestinations.tsx
  src/modules/31-variables/components/VariableResourceModalBody/VariableResourceModalBody.tsx
  src/modules/31-variables/pages/variables/VariablesPage.tsx
  src/modules/31-variables/pages/variables/views/VariableListView.tsx
Owners: @harness/ui-platform

feat: [PL-25014]: Added test
  src/modules/31-variables/components/VariableResourceModalBody/__test__/VariableResourceModalBody.test.tsx
  src/modules/31-variables/components/VariableResourceModalBody/__test__/__snapshots__/VariableResourceModalBody.test.tsx.snap
Owners: none

feat: [PL-25014]: Added edit and delete
  src/modules/31-variables/pages/variables/views/VariableListView.tsx
Owners: none

feat: [PL-25014]: Fixed sonar and jest
  src/modules/31-variables/components/VariableResourceModalBody/VariableResourceModalBody.tsx
  src/modules/31-variables/components/VariableResourceModalBody/__test__/VariableResourceModalBody.test.tsx
  src/modules/31-variables/pages/variables/__tests__/__snapshots__/VariablesPage.test.tsx.snap
  src/modules/31-variables/pages/variables/views/VariableListView.tsx
  src/modules/31-variables/pages/variables/views/__tests__/__snapshots__/VariableListView.test.tsx.snap
Owners: none

feat: [PL-25014]: Fixed sonar and jest
  src/modules/31-variables/components/VariableResourceModalBody/VariableResourceModalBody.tsx
Owners: none

feat: [PL-25014]: Fixed sonar and jest
  src/modules/31-variables/components/VariableResourceModalBody/VariableResourceModalBody.tsx
  src/modules/31-variables/components/VariableResourceModalBody/__test__/VariableResourceModalBody.test.tsx
  src/modules/31-variables/components/VariableResourceModalBody/__test__/__snapshots__/VariableResourceModalBody.test.tsx.snap
Owners: none

feat: [PL-25014]: fixed create loading state
  src/modules/31-variables/components/CreateEditVariable/CreateEditVariable.tsx
Owners: none

feat: [PL-25014]: Fixed sonar and jest
  src/modules/20-rbac/pages/ResourceGroups/ResourceGroups.tsx
  src/modules/20-rbac/pages/Roles/Roles.tsx
Owners: @harness/ui-platform

feat: [PL-25014]: Fixed sonar and jest
  src/modules/20-rbac/pages/Users/views/ActiveUsersListView.tsx
Owners: @harness/ui-platform

feat: [CI-3648]: bug bash fixes
  src/modules/70-pipeline/components/InputSetForm/InputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/components/RunPipelineModal/RunPipelineForm.tsx
  src/modules/70-pipeline/utils/CIUtils.ts
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/ConnectorRefWithImage.tsx
Owners: @harness/ui-pipeline, @harness/ui-triggers, @harness/ui-ci

feat: [PL-25014]: is community false
  src/modules/10-common/utils/utils.ts
Owners: none

feat: [PL-25014]: is community false
  src/modules/10-common/utils/utils.ts
Owners: none

fix: [CDS-36876]: irrrelevant lines removed from coverage calculation
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudio.tsx
Owners: @harness/ui-pipeline

fix: [CDS-36876]: git sync errors modal fixed
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudio.tsx
Owners: @harness/ui-pipeline

fix: [CDS-34422]: Fixed the yaml view for parallel stage in triggers
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage.test.tsx.snap
Owners: @harness/ui-triggers

fix: [CDS-34422]: updated snapshot
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersWizardPage2.test.tsx.snap
Owners: @harness/ui-triggers

feat: Changing type to map
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/ECRStepFunctionConfigs.ts
  src/modules/75-ci/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-ci

feat: fixing input set view
  src/modules/75-ci/components/PipelineSteps/CIStep/ArtifactStepCommon.tsx
Owners: @harness/ui-ci

feat: type cleanup
  src/modules/75-ci/components/PipelineSteps/CIStep/CICommonInterfaces.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: Added showConnectorRef prop
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CICommonInterfaces.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

Add rollback and delete stack steps
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationInterfaces.ts
  src/modules/75-cd/components/PipelineSteps/CloudFormation/DeleteStack/DeleteStack.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/DeleteStack/DeleteStackInputSteps.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/DeleteStack/DeleteStackRef.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/DeleteStack/DeleteStackVariableView.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/RollbackStack/RollbackInputSteps.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/RollbackStack/RollbackStack.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/RollbackStack/RollbackStepRef.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/RollbackStack/RollbackVariableView.tsx
  src/modules/75-cd/components/PipelineSteps/index.ts
Owners: @harness/ui-pipeline

feat: Fixing UX and reducing hihger order dependencies
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.module.scss
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.module.scss.d.ts
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

feat: fixing props
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
  src/modules/70-pipeline/utils/constants.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CICommonInterfaces.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

Added Chaos Module Homepage
  src/framework/strings/languageLoader.ts
  src/modules/75-chaos/RouteDestinations.tsx
  src/modules/75-chaos/pages/home/ChaosHomePage.tsx
  src/modules/75-chaos/pages/home/chaos.svg
  src/modules/75-chaos/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-council

feat: changes for input set view
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.module.scss
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.module.scss.d.ts
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
Owners: none

fix: dry run mode savings and empty screen text
  src/modules/75-ce/components/COGatewayList/COGatewayList.tsx
  src/modules/75-ce/pages/co-edit-gateway/CECOEditGatewayPage.tsx
  src/modules/75-ce/strings/strings.en.yaml
  src/services/lw/index.tsx
  src/services/lw/swagger.json
  src/stringTypes.ts
Owners: @harness/ui-ce, @harness/ui-council

feat: adapt azure infra to BE
  src/services/cd-ng/index.tsx
Owners: @harness/ui-council

fix: additional subscription id renaming
  src/modules/75-cd/components/PipelineStudio/DeployInfraSpecifications/DeployInfraSpecifications.tsx
  src/modules/75-cd/components/PipelineStudio/DeployInfraSpecifications/deployInfraHelper.tsx
Owners: @harness/ui-pipeline

feat: fix connector types for base connector image selection
  src/modules/75-ci/components/PipelineSteps/CIStep/ArtifactStepCommon.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/ECRStepBase.tsx
Owners: @harness/ui-ci

feat: remove 70-pipeline change
  src/modules/70-pipeline/utils/constants.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: fixing field mapping
  src/modules/10-common/components/MultiTypeMapInputSet/MultiTypeMapInputSet.tsx
Owners: none

feat: CCM-7515: anomalies UAT fixes
  src/modules/75-ce/components/AnomaliesFilter/AnomaliesFilter.tsx
  src/modules/75-ce/components/AnomaliesListView/AnomaliesListView.tsx
  src/modules/75-ce/components/AnomaliesSummary/AnomaliesSummary.tsx
  src/modules/75-ce/components/CloudCostInsightChart/Chart.module.scss
  src/modules/75-ce/components/CloudCostInsightChart/Chart.module.scss.d.ts
  src/modules/75-ce/components/CloudCostInsightChart/Chart.tsx
  src/modules/75-ce/components/OverviewPage/OverviewPageLayout.tsx
  src/modules/75-ce/images/anomalies-error.svg
  src/modules/75-ce/images/desc.svg
  src/modules/75-ce/images/no-results.svg
  src/modules/75-ce/images/sorting.svg
  src/modules/75-ce/pages/anomalies-overview/AnomaliesOverviewPage.module.scss
  src/modules/75-ce/pages/anomalies-overview/AnomaliesOverviewPage.module.scss.d.ts
  src/modules/75-ce/pages/anomalies-overview/AnomaliesOverviewPage.tsx
  src/modules/75-ce/strings/strings.en.yaml
  src/modules/75-ce/utils/anomaliesUtils.ts
  src/stringTypes.ts
Owners: @harness/ui-ce

feat: snapshot updates
  src/modules/10-common/components/MultiTypeMap/MultiTypeMap.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/__test__/__snapshots__/ECRStep.test.tsx.snap
  src/modules/75-ci/components/PipelineSteps/ECRStep/__test__/__snapshots__/ECRStepForVMs.test.tsx.snap
Owners: @harness/ui-ci

feat: CCM-7515: stroke sizes updated for radial charts
  src/modules/75-ce/components/AnomaliesSummary/AnomaliesSummary.tsx
  src/modules/75-ce/components/CEChart/CEChartOptions.ts
  src/modules/75-ce/components/OverviewPage/OverviewPageLayout.tsx
Owners: @harness/ui-ce

fix: Get params request
  configs/devServerProxy.config.js
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStackRef.tsx
  yarn.lock
Owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal, @harness/ui-pipeline

feat: cleanup
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/ECRStep.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/__test__/ECRStep.test.tsx
Owners: @harness/ui-platform, @harness/ui-ci

feat: cleanup
  src/modules/75-ci/components/PipelineSteps/CIStep/CICommonInterfaces.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStepOptionalConfig.tsx
Owners: @harness/ui-ci

add updated create stack
  configs/devServerProxy.config.js
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/CreateStackRef.tsx
  src/modules/75-cd/components/PipelineSteps/CloudFormation/CloudFormationCreateStack/InlineParameterFile.tsx
Owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal, @harness/ui-pipeline

add updated create stack
  configs/devServerProxy.config.js
Owners: @harness/ui-council, @abhinavrastogi-harness, @vkbansal

fix: [DEL-3527]: Fixed incorrect pagination value issue in delegate tokens listing
  src/modules/30-delegates/components/DelegateTokens/DelegateTokens.tsx
Owners: none
